{% extends 'flight_search/base.html' %}

{% block content %}

<h1>{{title}}</h1>
<div>{{ form.non_field_errors }}</div>
<form method="POST">
    {% csrf_token %}
    {{ form.depature_city }}<br>
    {{ form.dest_city }}<br>
    {{ form.max_transhipments }}<br>
    {{ form.depart_date }}<br>
    {{ form.return_date }}<br>
    {{ form.num_adults }}<br>
    {{ form.num_children }}<br>
<!--    {{ form.luggage }}-->
    {{ form.telegr_acc }}<br>
    <span>{{ error }}</span>
    <button class="btn btn-warning" type="submit">Поиск</button>
</form>

<!--<form action="{% url 'home' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Найти!</button>-->
<!--</form>-->

{% endblock %}