{% extends 'flight_search/base.html' %}

{% block content %}
<div style="margin: 30px">
    <h2>{{title}}</h2>
    <br>
    <p>Цены на авиабилеты подвержены значительным колебаниям.</p>
    <p>К примеру, перелет Челябинск - Санкт-Петербург с вылетом 24 мая 2022 стоил:</p>
        <ul>
            <li>18 апреля - 9900 руб.</li>
            <li>19 апреля - 14000 руб.</li>
            <li>22 апреля - 6400 руб.</li>
        </ul>
        <p>Чтобы получить лучшую цену, приходится на протяжении многих дней мониторить предложения авиакомпаний.</p>
        <p>А можно доверить это сервису Flight catcher, который будет каждый час проверять стоимость билетов на интересующие направления и высылать результаты в Ваш Телеграм-аккаунт!</p>

</div>
{% endblock %}